// @use '@/assets/css/variables.scss' as *; // nuxt.config.ts 配置自动导入
@import 'normalize.css';
@import 'element-plus/dist/index.css';

.wrapper {
    margin: 0 auto;
    width: $contentWidth;
}

body {
    font-size: $fontSize14;
    color: #333;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
}